@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: hsl(216, 12%, 8%);
    font-size: 15px;
    font-family: "Overpass", sans-serif;
    height: 100vh;
    width: 100vw;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}
